*{
    box-sizing: border-box;
}
body{

    width: 968px;
    margin: 0 auto;
    font-family: Helvetica, Georgia, sans-serif;
    background-image: url("../images/concrete_seamless.png");
    height: auto;
}
.container{
    width: 786px;
    background-image: url("../images/mainPage.jpg");
}

.button{
    margin-left: 15%;

}
.button.btnn:hover{
    border: 3px solid lightgreen;
    background-color: green;
}
.button.btnn0ut{
    width: 250px;
    height: 30px;
    opacity: 0.5;
    background-color: red;
    color:white;
}
#btn0, #btn1, #btn2,#btn3{
    border-radius:10px;
    width: 250px;
    height: 30px;
    font-size:18px;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: black;
    opacity: 0.5;
    border: 2px solid white;
}

#question{
    text-align: left;
    color:white;
    padding:10px;
    margin-bottom: 0px;
    line-height: 1.5em;
}

hr{
    border: 0.5px solid gray;
    margin-bottom: 30px;
}

#logobanner {
    background-image: url("../images/bkg.jpg");
    border-bottom: 3px solid white;
    padding: 5px;
}

#img{
    background-image: url("../images/quiz.png");
    width: 20px;
    height: 20px;
}

#logo1{
    flex:1 1 70px;
    height: 100px;

}

#Selecct_question_cat{
    height: 280px;
    border:  3px solid white;
    marging-top: 20px;
    background-image: url("../images/startBoard.gif");
}

#quizBoard{
    height: auto;
    border:  3px solid white;
    marging-top: 20px;
}


.categoryboard{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;

}

#msg{
text-align: center;
    color: white;
}


h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

#qst1{
    border-radius: 5px;
    background-image: url("../images/soccer.jpeg");
    border: 2px solid gold;
    border-radius: 5px;
}

#qst2{

    background-image: url("../images/leaders.png");
    border: 2px solid sandybrown;
    border-radius: 5px;
}

#qst3{
    background-image: url("../images/nfl.jpg");
    border: 2px solid greenyellow;
    border-radius: 5px;
}

#qst4{
    background-image: url("../images/entertain.jpeg");
    border: 2px solid yellow;
    border-radius: 5px;
}

#qst5{

    background-image: url("../images/geograpy.jpg");
    border: 2px solid red;
    border-radius: 5px;
}

.category{
    flex: 0 0 18%;
    height: 70px;

}

#quizResults{
    color: white;
    text-align: center;
}

#startTest{
    width: 200px;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: red;
    color: white;
    font-size:20px ;
}

#restart{
    width: 200px;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    font-size:20px ;
}

#clock{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    background-color: green;
    margin-left: 10px;
    text-align:  center;
    font-weight:bolder;
    color: white;
    padding: 1px;
}

#quizBoard{
    content: "";
    clear: both;
    display: block;
}

#decision{
    margin-left: 23%;
    margin-bottom: 25px;
}

.dcsn{
    width: 180px;
    height: 30px;
}

#skip{
    background-color: dodgerblue;
    font-size: 18px;
    color: white;
    margin: 10px;
}

#reset{
    background-color: red;
    font-size: 18px;
    color: white;
}
#clearr{
    height: 50px;
}

#msg{
    font-size: 30px;
    font-weight: bolder;
    color: lawngreen;
}
.qtimeprogress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#progressbar{
    flex: 1 1 65%;
    margin-left: 25px;

    height: 25px;
}
#clockdisplay{
    margin-top: 3px;
    font-size: 17px;
    font-weight: bolder;
}
.testProgress{
    font-weight: bold;
    color: white;
    font-size: 19px;
}

.pictureSizer{
    width: 420px;
    height:200px;
    margin-left:29%;
    margin-bottom:25px ;
    box-shadow: 0px 0px 15px aqua;
}

.answerresults1{
    font-weight: bolder;
    color: white;
    font-size: 22px;
    margin-left:45%;
}

.skipBtnn{
    border-radius:10px;
    width: 20px;
    height: 30px;
    font-size:18px;
    color: white;
    margin-bottom: 20px;
    margin-left: 70px;
    background-color: red;
    opacity: 0.5;
    border: 2px solid white;
}
#btn4{
    background-color: red;
    margin-left: 77px;
}
#btn4s{
    background-color: red;
    margin-left: 30%;
    color: white;
    font-weight: bold;
}